/* line 1, ../../app/stylesheets/master.scss */
html {
  font-family: "helvetica neue",helvetica,arial;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

/* line 8, ../../app/stylesheets/master.scss */
h1 {
  margin: 20px 0;
  font-size: 22px;
}

/* line 13, ../../app/stylesheets/master.scss */
h2 {
  margin: 20px;
  font-size: 22px;
}

/* line 18, ../../app/stylesheets/master.scss */
body {
  margin: 20px auto;
  width: 720px;
  padding: 0px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

/* line 30, ../../app/stylesheets/master.scss */
nav {
  width: 200px;
  margin-left: 40px;
  display: block;
  float: left;
}
/* line 36, ../../app/stylesheets/master.scss */
nav a {
  display: block;
  width: 210px;
  height: 30px;
  margin-bottom: 10px;
}

/* line 44, ../../app/stylesheets/master.scss */
form {
  float: left;
  padding-left: 40px;
  border-left: 1px dashed #ccc;
}

/* line 50, ../../app/stylesheets/master.scss */
code {
  background: #ddd;
}
