<h1>Testing Transparent Controller</h1>
<p>
  <%= link_to "Create Subscription", create_subscription_url %>
</p>

<p>
  <%= link_to "Create Transaction", create_transaction_url %>
</p>

<p>
  <%= link_to "Update Billing", update_billing_url %>
</p>
